<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="letfeMapper">

	<!-- 축제등록 -->
	<insert id='letfeInsert' parameterType="LetfeVO">
		insert into letfe(lf_code, fest_scatecode) 
		values(lf_code.nextval,#{fest_scatcode})
	
	</insert> 
</mapper>